
<%- include('header'); %> 
    
    <section class="vh-100">
        <div class="container py-5 h-100">
      
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
      
              <h3 class="mb-4 pb-2 fw-normal" style="color: white;">Check the weather forecast</h3>
      
              <div class="input-group rounded mb-3">
                <form action="/" method="post">
                <input type="text" name="city" autocomplete="off">
                <input type="submit" >
               </form>
              </div>
      
      
              <div class="card shadow-0 border">
                <div class="card-body p-4">
      
                  <h4 class="mb-1 sfw-normal"><%= CITY %></h4>
                  <p>Description: <strong><%= DESCRIPTION %></strong></p>
                  <p class="mb-2">Current temperature: <strong><%= TEMP %>째C</strong></p>
                  <p>Feels like: <strong><%= FEELS %>째C</strong></p>
                  <p>Max: <strong><%= MAX %>째C</strong>, Min: <strong><%= MIN %>째C</strong></p>
      
                  <div class="d-flex flex-row align-items-center">
                    <p class="mb-0 me-4"><%= MAIN %></p>
                    <img src="http://openweathermap.org/img/wn/<%= ICON %>.png" alt="" srcset="">
                  </div>
      
                </div>
              </div>
      
            </div>
          </div>
      
  <%- include('footer') %>